@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f6fd; 
  scroll-behavior: smooth;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-primary-dark;
}

/* Anchor links */
a {
  @apply no-underline transition-colors duration-200;
}

/* Buttons */
button {
  @apply font-medium rounded transition;
}

/* Images */
img {
  @apply max-w-full h-auto;
}

/* Floating animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-0.5rem); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
